body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 40px;
    text-align: center;
}

h1 {
    /*text-align: center;*/
    margin-bottom: 2em;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;/* 子要素を縦に並べる */
    align-items: center;/* 子要素を水平方向の中央に配置 */
    width: 100%;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form__error {
    text-align: left;
    width: 100%;
    font-size: 12px;
    margin-top: -15px;
    margin-bottom: 15px;
    color: red;
}

.submit-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 20px;
}

.submit-btn:hover {
    background-color: #e60000;
}

.register-link {
    color: #007bff;
    text-decoration: none;
        /* 下線を消す */
}

.register-link a:hover {
    text-decoration: underline;
    /* ホバー時に下線を追加 */
}

/* メディアクエリ: タブレット */
@media (min-width: 768px) and (max-width: 850px) {
    .container {
        max-width: 600px;
        /* タブレット用に幅を変更 */
        padding: 30px;
        /* パディングを追加 */
    }

    h1 {
        font-size: 1.5em;
        /* タブレット用に文字サイズを調整 */
    }
}

/* メディアクエリ: PC */
@media (min-width: 1400px) and (max-width: 1540px) {
    .container {
        max-width: 800px;
        /* PC用に幅をさらに広く設定 */
        padding: 40px;
        /* パディングを追加 */
    }

    h1 {
        font-size: 2em;
        /* PC用に文字サイズを調整 */
    }
}