* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-form-container h2 {
    margin: 20px;
    text-align: center;
}

.profile-form-container .profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.profile-form-container h2 {
    margin-top: 40px;
    text-align: center;
}

.profile-form-container .profile-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.profile-form-container .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-form-container .image-placeholder {
    display: inline-block;
    background-color: #ccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
}

.profile-form-container #imageUpload {
    display: none;
}

.profile-form-container .image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-form-container .image-label {
    font-size: 14px;
    border: red solid 1px;
    color: red;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.profile-form-container .image-label:hover {
    background-color: #ff4757;
    color: white;
}

.profile-form-container form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.profile-form-container label {
    display: block;
    margin-top: 0.5em;
    font-weight: bold;
}

.profile-form-container input {
    width: 100%;
    height: 40px;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.profile-form-container .form__error {
    display: block;
    margin-bottom: 5px;
    color: red;
}

.profile-form-container button {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6b81;
}

/* PC向けスタイル (1400px-1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {
    .profile-form-container form {
        padding: 30px;
    }

        .profile-form-container .profile-pic {
        width: 100%;
    }

        .profile-form-container input[type="text"] {
        font-size: 1.1em;
    }
}

/* タブレット向けスタイル (768px-850px) */
@media (min-width: 768px) and (max-width: 850px) {
    .profile-form-container form {
        padding: 15px;
    }

    .profile-form-container h2 {
        font-size: 1.5em;
    }

    .profile-form-container input[type="text"] {
        font-size: 1em;
    }
}