.header {
    background: #000;
    padding: 10px 20px;
    max-width: 100%;
}

.header__inner {
    /*margin: 0 auto;
    padding: 15px;
    max-width: 1230px;*/
    display: flex;/* フレックスボックスを使用 */
    align-items: center;/* 縦方向の中央揃え */
    justify-content: space-between;/* 左右の要素間にスペースを均等に配置 */
    width: 100%;
}

.header-utilities {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    max-width: 300px;
    align-items: center;
}

.header__logo img {
    max-height: 30px;
    margin-left: 10px;
}

.search {
    margin: 0 30px;
}

.search input[type="text"] {
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 4px;
    width: 350px;
    font-size: 16px;
}

.header-nav {
    display: flex;/* フレックスボックスを使用 */
    list-style: none;/* リストスタイルを無効 */
    padding:0;
    margin: 0;
    justify-content: flex-end;
    width: 100%;
}

.header-nav li {
    margin-left: 20px;
}

.header-nav__link {
    margin-left: 20px;/* アイテム間のスペース */
    text-decoration: none;/* 下線を無くす */
    color: white;/* リンクの色 */
    font-size: 16px;
}

.header-nav__link:hover {
    color: rgb(238, 201, 201);
    /* ホバー時の文字色 */
}

.header-nav__button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.header-nav__button:hover {
    background-color: rgb(238, 201, 201);
    /* ホバー時の背景色 */
}

/* レスポンシブ対応のメディアクエリ */
@media (max-width: 850px) {
    .header__inner {
        flex-direction: column;
        /* 縦に並べる */
        align-items: flex-start;
        /* 左揃え */
    }

    .header__logo {
        margin-bottom: 10px;
        /* ロゴの下にマージンを追加 */
    }

    .search {
        width: 100%;
        /* 検索バーを全幅に設定 */
        margin: 10px 0;
        /* 上下のマージンを設定 */
    }

    .search input[type="text"] {
        width: calc(100% - 20px);
        /* 幅を100%からパディング分引く */
    }

    .header-nav {
        flex-direction: column;
        /* ナビゲーションを縦に並べる */
        align-items: flex-start;
        /* 左揃え */
        width: 100%;
        /* 幅を100%に設定 */
        margin-top: 10px;
        /* 上部にマージンを追加 */
    }

    .header-nav li {
        margin-left: 0;
        /* 左マージンを削除 */
        margin-top: 5px;
        /* 上部のマージンを追加 */
    }
}