.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}

.header-container {
    display: flex;
    /* フレックスボックスを使用して横並びにする*/
    justify-content: flex-start;
    margin:0 10px;
    align-items: center;
    /* 縦方向に中央揃え */
}

.caption {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;

}

.active {
    color: red; /* 現在表示されているページの色 */
}

.inactive {
    color: black;/* 表示されていないページの色 */
}

.tab-link:hover {
    text-decoration: underline;
    /* ホバー時に下線を表示 */
}

.border-line {
    border-bottom: 3px solid #ccc;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: 20px 0;
}

/*h2,
h3 {
    text-align: center;
}*/

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /* スマートフォン対応 */
    gap: 40px;
}

.no-items-message {
    text-align: center;
    font-size: 25px;
    color: #666;
    margin: 20px 0;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: auto;
    aspect-ratio: 1 / 1; /* 正方形にする */
    width: 100%;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-color: rgb(247, 151, 7)
}

.item-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-title {
    margin: 10px 0 0;
    font-size: 18px;/* フォントサイズを指定 */
    margin-top: 0;
    color: #333;
    text-align: left;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.sold-overlay {
    position: absolute;
    /* 親要素に対して絶対位置 */
    top: 0;
    left: 0;
    width: 100%;
    /* 幅を100%に設定 */
    height: 100%;
    /* 高さを100%に設定 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明の背景 */
    display: flex;
    /* 中央揃えにするためにFlexboxを使用 */
    justify-content: center;
    /* 水平方向の中央揃え */
    align-items: center;
    /* 垂直方向の中央揃え */
    color: white;
    /* テキストの色を白に */
    font-size: 24px;
    /* フォントサイズを設定 */
    font-weight: bold;
    /* フォントを太字に */
    text-transform: uppercase;
    /* テキストを大文字に */
    pointer-events: none;
    /* 他の要素へのイベントを無効にする */
    z-index: 10;
}

.pagination {
    height: 35px;
    width: 500px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ページネーションのリンクスタイル */
.pagination a {
    margin: 10px;
    /* 各リンクの左右の間隔 */
    padding: 8px 12px;
    /* リンクの内側の余白 */
    background-color: #e7e7e7;
    /* 背景色 */
    color: #333;
    /* テキスト色 */
    text-decoration: none;
    /* 下線を無くす */
    border-radius: 8px;
    /* 角を丸く */
    transition: background-color 0.3s;
    /* ホバー時のスムーズな色変更 */
}

/* ホバー時のスタイル */
.pagination a:hover {
    background-color: #d4d4d4;
    /* ホバー時の背景色 */
}

/* 現在のページ番号のスタイル */
.pagination .active {
    background-color: #96bfec;
    /* 現在のページの背景色 */
    color: #333;
    /* 現在のページの文字色 */
    margin: 10px;
    /* 各リンクの左右の間隔 */
    padding: 8px 12px;
    /* リンクの内側の余白 */
    text-decoration: none;
    /* 下線を無くす */
    border-radius: 8px;
    /* 角を丸く */
    transition: background-color 0.3s;
    /* ホバー時のスムーズな色変更 */
}

.pagination .active:hover {
    background-color: #a89ded;
    /* ホバー時の背景色 */
}

/* PCサイズ (1400px以上) のスタイル */
@media (min-width: 1400px) {
    .header-container {
            padding: 10px 40px;
        }

    .search {
        max-width: 300px;/* 検索ボックスの最大幅を指定 */
    }
}

/* タブレットサイズ (768px - 850px) のスタイル */
@media (max-width: 850px) and (min-width: 768px) {
    .header-container {
        flex-direction: column;/* 縦に並べる */
        align-items: flex-start;/* 左揃え */
    }

    .caption {
        margin-left: 0;
        font-size: 18px;
        margin-top: 10px;
    }

    .header-nav__link {
        margin-left: 10px;/* アイテム間のスペースを減らす */
    }

    .item-grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        }

    .pagination {
        width: 100%;
        flex-wrap: wrap;
        }
}