.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    margin:0 10px;
    align-items: center;
}

.caption {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;

}

.active {
    color: red;
}

.inactive {
    color: black;
}

.tab-link:hover {
    text-decoration: underline;
}

.border-line {
    border-bottom: 3px solid #ccc;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: 20px 0;
}

/*h2,
h3 {
    text-align: center;
}*/

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 40px;
}

.no-items-message {
    text-align: center;
    font-size: 25px;
    color: #666;
    margin: 20px 0;
}

.item-card {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    background-color: white;
    border-radius: 2%;
    overflow: hidden;
    /*text-align: center;*/
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /*height: auto;*/
    /*aspect-ratio: 1 / 1; /* 正方形にする */
    /*width: 100%;*/
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card a {
    position: relative;/* sold-overlayの基準点 */
    display: block;/* aタグをブロック要素にする */
    text-decoration: none;
    color: inherit;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-color: rgb(247, 151, 7)
}

.item-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.item-title {
    padding: 8px 10px;
    /* 上下左右の余白 */

    /* 文字がはみ出した場合に「...」で省略する設定 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* フォントスタイル */
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: left;/* テキストを左揃えに */

    /* 不要なスタイルをリセット */
    margin: 0;
}

/*.item-title {
    margin: 10px 0 0;
    font-size: 18px;
    margin-top: 0;
    color: #333;
    text-align: left;
    position: relative;
    text-decoration: none;
    z-index: 1;
}*/

.sold-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    pointer-events: none;
    z-index: 10;
}

.pagination {
    height: 35px;
    width: 500px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ページネーションのリンクスタイル */
.pagination a {
    margin: 10px;
    padding: 8px 12px;
    background-color: #e7e7e7;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #d4d4d4;
}

/* 現在のページ番号のスタイル */
.pagination .active {
    background-color: #96bfec;
    color: #333;
    margin: 10px;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.pagination .active:hover {
    background-color: #a89ded;
}

/* PCサイズ (1400px以上) のスタイル */
@media (min-width: 1400px) {
    .header-container {
            padding: 10px 40px;
        }

    .search {
        max-width: 300px;/* 検索ボックスの最大幅を指定 */
    }
}

/* タブレットサイズ (768px - 850px) のスタイル */
@media (max-width: 850px) and (min-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .caption {
        margin-left: 0;
        font-size: 18px;
        margin-top: 10px;
    }

    .header-nav__link {
        margin-left: 10px;
    }

    .item-grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        }

    .pagination {
        width: 100%;
        flex-wrap: wrap;
        }
}