.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    text-align: center;
}

.user-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 50px;
}

.user-image-placeholder {
    width: 100px;
    height: 100px;
    background-color: #d3d3d3;
    border-radius: 50%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-details {
    display: flex;
    align-items: center;
}

.edit-profile-button {
    margin-left: 200px;
    border: 2px solid #f00;
    color: #f00;
    background-color: #fff;
    padding: 5px 15;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.edit-profile-button:hover {
    background-color: #eedada;
}

.header-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
}

.border-line {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tab-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

/*.tab-link {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    margin-right: 10px;
    transition: color 0.3s;
}

.tab-link.active {
    color: red;
    font-weight: bold;
    border-color: red;
}

.tab-link:hover {
    border-color: #007bff;
}*/

.container {
    padding: 0 20px;
}

/*.item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-color: rgb(247, 151, 7)
}

.item-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-title {
    margin: 10px 0;
    text-align: center;
}

.sold-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    pointer-events: none;
    z-index: 10;
}

.product-image {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-name {
    font-size: 1.2rem;
    margin-top: 10px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .disabled {
    color: #aaa;
}

.pagination .active {
    font-weight: bold;
    color: #007bff;
}

.pagination .other {
    margin: 0 5px;
    text-decoration: none;
}

.pagination a {
    color: #007bff;
}

.pagination a:hover {
    text-decoration: underline;
}
:
*/

/* レスポンシブデザイン */
@media (max-width: 1540px) {
    .user-info {
        gap: 12px;
    }

    .user-image {
        width: 56px;
        height: 56px;
    }

    .edit-profile-button {
        padding: 6px 12px;
    }
/*
    .item-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .item-title {
        font-size: 14px;
    }
*/
}

@media (max-width: 850px) {
    .user-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-container {
        flex-direction: column;
    }

    /*
    .item-grid {
        grid-template-columns: repeat(2, 1fr);
    }*/

    .user-image {
        width: 50px;
        height: 50px;
    }

    .edit-profile-button {
        padding: 4px 8px;
    }

    /*
    .item-title {
        font-size: 12px;
    }*/
}