.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-info,
.payment-method,
.shipping-info {
    padding: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.product-info {
    display: flex;
    align-items: center;
}

.image-info-wrapper {
    display: flex;
    align-items: center;
}

.item-image {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* プルダウンのスタイル */
select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #737171;
    color: white;
    font-size: 1rem;
    appearance: none;
    cursor: pointer;
    margin-top: 10px;
    transition: border-color 0.3s;
}

/* フォーカス時のスタイル */
select:focus {
    border-color: #9ab3f7;
    outline: none;
}

/* プルダウンの矢印 */
.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    pointer-events: none;
}

/* 注文概要のスタイル */
.order-summary {
    flex-basis: 300px;
    border: 1px solid black;
    padding: 10px;
    margin-left: 20px;
}

/* 購入ボタンのスタイル */
.btn-danger {
    background-color: #e63946;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

.btn-danger:hover {
    background-color: #d62839;
}

/* 配送先情報のスタイル */
.shipping-info h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* 変更するリンクのスタイル */
.edit-link {
    color: #007bff;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.edit-link:hover {
    text-decoration: underline;
}

/* レスポンシブデザイン */
@media (min-width: 1400px) and (max-width: 1540px) {
    .container {
        flex-direction: row;
        padding: 30px;
    }

    .left-column {
        flex: 1;
        margin-right: 20px;
    }

    .order-summary {
        flex-basis: 300px;
        margin-left: 0;
    }

    .product-info,
    .payment-method,
    .shipping-info {
        margin-bottom: 30px;
    }
}

@media (max-width: 850px) and (min-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-column,
    .order-summary {
        margin-right: 0;
        margin-bottom: 20px;
        flex-basis: auto;
    }
}