body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.sell-form {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 30px;
}

.subtitle {
    color: #636363;
    font-size: 20px;
    padding-bottom: 5px;
    position: relative;
    margin-top: 40px;
}

.subtitle::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #ccc;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.input,
.select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 13px solid #676666;
    pointer-events: none;
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
}

.category-label {
    position: relative;
    display: inline-block;
    padding: 5px 18px;
    border: 2px solid #ff6f61;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    color: #ff6f61;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-name {
    display: block;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    color: #ff6f61;
    transition: color 0.3s;
    user-select: none;
}

.category-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.category-checkbox:checked+.category-name {
    color: white;
}

.category-label:has(.category-checkbox:checked) {
    background-color: #ff6f61;
}

.image-upload {
    width: 100%;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: relative;
}

.image-container {
    position: relative;
}

.preview-image {
    max-width: 20%;
    height: auto;
    display: block;
}

.upload-button {
    padding: 10px 20px;
    border: 2px solid #ff6f61;
    border-color: #ff6f61;
    background-color: white;
    color: #ff6f61;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.upload-button:hover {
    background-color: #ff6f61;
    color: white;
}

.file-input {
    display: none;
}

.price-input-container {
    position: relative;
}

/* 「¥」マークを疑似要素として生成 */
.price-input-container::before {
    content: "¥";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    font-size: 1em;
    pointer-events: none;
    z-index: 1;
}

.price-input-container input#price {
    padding-left: 28px !important;
}

input#price {
    -moz-appearance: textfield;
}

input#price::-webkit-inner-spin-button,
input#price::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.submit-button:hover {
    background-color: #ff4b53;
}

.form__error {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    color: red;
}

/* PC向けスタイル (1400px-1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {
    .container {
        padding: 30px;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
    }

    .input,
    .submit-button {
        width: 48%;
    }
}

/* タブレット向けスタイル (768px-850px) */
@media (min-width: 768px) and (max-width: 850px) {
    .container {
        padding: 20px;
    }

    .title {
        font-size: 1.5em;
    }

    .form-group {
        flex-direction: column;
    }

    .input,
    .submit-button {
        width: 100%;
    }
}