body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.success-massage {
    font-size: 2.5em;
    color: #4CAF50;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    /* 段落のフォントサイズを設定 */
}

.bach-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
    /* ホバー時の背景色 */
}